HW4/data_*.txt
HW4/mini_*.txt
HW4/pars_*.txt

*.aux

*.log

HW1/BayesLogit/data/.RData

*.gz

HW2/Streaming/.Rhistory

HW1/BayesLogit/data/.Rhistory

HW2/Streaming/.idea/.name

*.xml

*.iml

HW4/.Rhistory
